html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globals */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    display: block;
    text-transform: uppercase;
    background-color: #8cbc00;
    font-weight: 900;
    color: #fff;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
}

.btn:hover {
    background-color: #769c02;
}

/* Utilities */
.text-center {
    text-align: center;
}

.max-width-30 {
    max-width: 30rem;
}

/* Header y Navegation */
.name-site {
    margin-top: 5rem;
    text-align: center;
}

.name-site span {
    color: #037bc0;
}

.nav-container {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 55rem;
}

/* category list */
.categories {
    padding-top: 5rem;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.category a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.category a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

/* Block about us */
.about-us {
    background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100%, 100rem;
    padding: 10rem 0;
}

.about-us-grid {
    display: flex;
    justify-content: flex-end;
}

.text-about {
    flex-basis: 50%;
    padding-left: 10rem;
    color: white;
}

/* Productos */
.content-principal {
    padding-top: 5rem;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.product:nth-child(1) {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product:nth-child(1) img {
    height: 43rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(2) {
    grid-column: 1/4;
}

.product:nth-child(2) img,
.product:nth-child(3) img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}

.product:nth-child(3) {
    grid-column: 4/7;
}

.product:nth-child(4) {
    grid-column: 1/3;
}

.product:nth-child(5) {
    grid-column: 3/5;
}

.product:nth-child(6) {
    grid-column: 5/7;
}

.product {
    background-color: #037bc0;
}

/* .product img:hover{
    transform: scale(.8);
} */

.text-product {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.text-product h3 {
    margin: 0;
}

.text-product p {
    margin: 0 0 .5rem 0;
}

.text-product .price {
    font-size: 2.8rem;
    font-weight: 900;
}


/* Footer */
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: 1rem;
}

.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.footer-menu a {
    display: block;
}

.copyright {
    text-align: center;
    margin-top: 5rem;
}




/** PAGE NOSOTROS **/
.content-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.info-about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}




/** PAGE BLOG **/
.container-blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.entry-blog {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entry-blog:last-of-type {
    border: none;
}

.info-meta-blog {
    display: flex;
    justify-content: space-between;
}

.info-meta-blog p {
    font-weight: 700;
}

.info-meta-blog span {
    color: #037bc0;
}