html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globals */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 2rem 0;
}

h1 {
    font-size: 4rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    display: block;
    text-transform: uppercase;
    background-color: #8cbc00;
    font-weight: 900;
    color: #fff;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

@media(min-width: 768px) {
    .btn {
        width: auto;
    }
}

.btn:hover {
    background-color: #769c02;
}

/* Utilities */
.text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .max-width-30 {
        max-width: 30rem;
    }
}

/* Header y Navegation */
.name-site {
    margin-top: 5rem;
    text-align: center;
}

.name-site span {
    color: #037bc0;
}

.nav-container {
    border-top: .1rem solid #e1e1e1;
}

.nav-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

@media (min-width: 768px) {
    .nav-principal {
        flex-direction: row;
        justify-content: space-between;
    }
}

.hero {
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25rem;
}

@media (min-width: 768px) {
    .hero {
        height: 55rem;
    }
}

/* category list */
.categories {
    padding: 5rem 0;
}

.category {
    margin-bottom: 2rem;
}

.category img {
    width: 100%;
}

@media (min-width: 768px) {
    .category {
        margin-bottom: 0;
    }

    .category-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.category a {
    display: block;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.category a:hover {
    background-color: #037bc0;
    color: #fff;
    border-bottom-right-radius: 1rem;
}

/* Block about us */
.about-us {
    background-image: linear-gradient(to bottom, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
}

.about-us-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.text-about {
    grid-row: 2/3;
    color: white;
    padding: 5rem;
}

@media (min-width: 768px) {
    .about-us {
        background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%), url(../img/nosotros.jpg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 100%, 160rem;
        padding: 10rem 0;
    }

    .about-us-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }

    .text-about {
        grid-column: 2/3;
    }
}


/* Productos */
.content-principal {
    padding-top: 5rem;
}

@media (min-width: 768px) {

    .products-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }

    .product:nth-child(1) {
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    .product:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }

    .product:nth-child(2) {
        grid-column: 1/4;
    }

    .product:nth-child(2) img,
    .product:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }

    .product:nth-child(3) {
        grid-column: 4/7;
    }

    .product:nth-child(4) {
        grid-column: 1/3;
    }

    .product:nth-child(5) {
        grid-column: 3/5;
    }

    .product:nth-child(6) {
        grid-column: 5/7;
    }
}

.product {
    background-color: #037bc0;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .product {
        margin-bottom: 0;
    }
}

.product:last-of-type {
    margin-bottom: 0;
}

.text-product {
    text-align: center;
    color: #fff;
    padding: 2rem;
}

.text-product h3 {
    margin: 0;
}

.text-product p {
    margin: 0 0 .5rem 0;
}

.text-product .price {
    font-size: 2.8rem;
    font-weight: 900;
}


/* Footer */
.site-footer {
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}

.site-footer h3 {
    margin-bottom: 1rem;
}

.grid-footer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

@media (min-width: 768px) {
    .grid-footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        text-align: left;
    }
}

.footer-menu a {
    display: block;
}

.copyright {
    text-align: center;
    margin-top: 5rem;
}




/** PAGE NOSOTROS **/
.content-about {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.info-about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 5rem;
}

@media (min-width: 768px) {
    .info-about-page {
        padding: 0;
    }
}




/** PAGE BLOG **/
.entry-blog {
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 2rem;
    padding-bottom: 4rem;
}

.entry-blog h2 {
    text-align: center;
}

.content-info-blog {
    padding: 2rem;
}

.entry-blog:last-of-type {
    border: none;
}

.info-meta-blog p {
    font-weight: 700;
}

.info-meta-blog span {
    color: #037bc0;
}

@media (min-width: 768px) {
    .container-blog {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

@media (min-width: 768px) {
    .info-meta-blog {
        display: flex;
        justify-content: space-between;
    }

    .entry-blog h2 {
        text-align: left;
    }
}


/* PAGE POST */
.content-entry-blog {
    max-width: 70rem;
    margin: 0 auto;
}


/* PAGE GALLERY */
.gallery {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.gallery img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/* PAGE CONTACT */
.form {
    max-width: 70rem;
    margin: 0 auto;
}

.form fieldset {
    border: 1px solid black;
    margin-bottom: 2rem;
}

.form legend {
    background-color: #005485;
    width: 100%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    margin-bottom: 4rem;
}

.input {
    display: flex;
    margin-bottom: 2rem;
}

.input label {
    flex-basis: 12rem;
}

.input input[type="text"],
.input input[type="email"],
.input input[type="tel"],
textarea,
.input-datalist,
select {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}

.input input[type="text"]:focus,
.input input[type="email"]:focus,
.input input[type="tel"]:focus,
textarea:focus,
.input-datalist:focus,
select:focus {
    border-color: #037bc0;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #037bc0;
    outline: 0 none;
}

.input .datalist {
    flex-basis: 17rem;
}

.btn-contac {
    border: none;
}